*{
    box-sizing: border-box;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 60px;
}

.navbar-img {
    width: 30%;
    height: 75%;
    /* background-image: url(../img/Group.png); */
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-top: 1vh;
}
.navbar-img img {
    height: 40px;
}

.navbar-itens {
    display: flex;
    justify-content: space-evenly;
    width: 20%;

}

.navbar-itens a {
    text-decoration: none;
    padding: 5% 2% 0 2%;
    background-color: gray;
    color: white;
    box-sizing: border-box;
    transition: 0.7s;
}
.navbar-itens a:hover {
    background-color: white;
    color: black;
}

.banner {
    width: 100%;
    height: 40vh;
    background-image: url("../img/marcadeivone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F1C1;
}

.pos-banner {
    background-color: #B5B18A;
}

.fots-em-line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    justify-content: space-evenly;
    background-color: #F5F1C1;
}

.fots-em-line section {
    margin: 20px ;
    height: 500px;
    width: 300px;    
    
}

.foto {
    border-radius: 10px;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ft1{
    background-image: url(../img/bolsas/WhatsApp\ Image\ 2023-12-11\ at\ 23.36.45.jpeg);
}

.ft2 {
    background-image: url(../img/conjuntos/WhatsApp\ Image\ 2023-12-11\ at\ 23.36.46\ \(5\).jpeg);
}

.ft3{
    background-image: url(../img/conjuntos/WhatsApp\ Image\ 2023-12-11\ at\ 23.36.45\ \(2\).jpeg);
}

.ft4{
    background-image: url(../img/bolsas/WhatsApp\ Image\ 2023-12-11\ at\ 23.36.47.jpeg);
}

.ft5 {
    background-image: url(../img/acessorios/WhatsApp\ Image\ 2023-12-11\ at\ 23.36.47\ \(2\).jpeg);
}
fieldset {
    margin: 20px auto;
    width: 96%;
    max-width: 600px;
    height: 200px;
    border: 1px solid #ccc;
    text-align: center;
}
legend{
    padding: 0 5px;
}
.fots-em-line section div:nth-of-type(2) {
    font-size: 20px;
    border-radius: 5px;
    background-color: #B5B18A;
    margin: 0;
    padding: 5px;
    height: auto;
    margin: 5px auto;
}